@import './media.scss';
@import './variables.scss';
@import './mixins.scss';

.awards {
	@include basicContainer;
	padding-bottom: 95px;
	padding-top: 33px;
	position: relative;

	@include breakpoint-down('mob') {
		padding-top: 0px;
	}

	&-header {
		@include breakpoint-down('mob') {
			width: 100%;
			padding: 19px 14px 0px 18px;
			margin-bottom: 28px;
		}
	}
	&-title {
		@include sectionTitle;
		margin-bottom: 12px;
	}

	&-subtitle {
		@include sectionSubTextUnderline;
		margin-bottom: 41px;

		@include breakpoint-down('mob') {
			margin-bottom: 0;
		}
	}

	&-list {
		display: flex;
		gap: 52px;
		justify-content: space-evenly;
		list-style: none;

		@include breakpoint-down('desk-s') {
			gap: 20px;
		}

		@include breakpoint-down('mob') {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 0 5px 0 6px;
		}

		&-background {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%) scaleX(1.2);
			width: 300vw;
			z-index: 0;

			color: $grey;
			font-family: $SFPro;
			font-weight: 200;
			font-size: 350px;
			line-height: 1;
			pointer-events: none;
			text-transform: uppercase;
			white-space: nowrap;
			text-align: center;

			@include breakpoint-down('desk-s') {
				display: none;
			}
		}

		&-card {
			display: flex;
			flex-direction: column;
			padding: 20px;
			height: 463px;

			background: $asphalt;
			backdrop-filter: blur(25px);
			border-radius: 18.5px;
			font-family: $SFPro;

			&-title {
				margin-right: 65px;
				margin-bottom: 12px;

				color: $white;
				font-size: 36px;
				font-weight: 200;

				@include breakpoint-down('desk-s') {
					margin-right: auto;
				}
			}

			&-subtitle {
				color: $white;
				font-size: 14px;
				font-style: normal;
				font-weight: 200;
				line-height: 1.4;
				opacity: 0.4;
				text-transform: uppercase;
			}

			&-date {
				align-self: flex-end;
				margin-top: auto;

				color: $white;
				font-size: 60px;
				font-style: normal;
				font-weight: 274;
				line-height: normal;
			}
		}
	}
}
