@import './mixins';
@import './variables';
@import './media';

.community {
	@include basicContainer;
	margin-bottom: 139px;
	padding-top: 33px;

	@include breakpoint-down('tab') {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 35px 16px 0 16px;
		margin-bottom: 69px;
	}

	&-title {
		@include sectionTitle;
		margin-bottom: 60px;

		@include breakpoint-down('tab') {
			margin-bottom: 16px;
		}
	}

	&-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 32px;

		list-style: none;

		@include breakpoint-down('tab') {
			gap: 18px;
		}

		&-item {
			img {
				@include breakpoint-down('tab') {
					height: 33px;
					width: 33px;
				}

				@include breakpoint-down('mob') {
					height: 27px;
					width: 27px;
				}
			}
		}
		&-divider {
			background: $dividerGrey;
			width: 1px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@include breakpoint-down('tab') {
				height: 49px;
			}

			@include breakpoint-down('mob') {
				height: 39px;
			}
		}
	}
	.visually-hidden {
		display: none;
	}
}
