@import './mixins';
@import './variables';
@import './media';

.experience {
	@include basicContainer;
	padding-top: 94px;
	padding-bottom: 94px;

	@include breakpoint-down('mob') {
		padding-bottom: 0;
	}

	&-header {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 151px;
		justify-content: flex-start;

		@include breakpoint-down('tab') {
			align-items: flex-start;
			flex-direction: column;
			row-gap: 47px;
			padding: 53px 16px 89px 16px;
		}

		&-title {
			@include sectionTitle;
			margin-bottom: 12px;
		}

		&-discription {
			p {
				color: $white;
				font-size: 46px;
				font-weight: 200;
				line-height: 75px;

				@include breakpoint-down('tab') {
					font-size: 36px;
					text-decoration: underline;
					text-underline-position: from-font;
					text-decoration-thickness: 1.5px;
				}
			}
		}
	}
}
