@import './mixins';
@import './variables';
@import './media';

.footer {
	@include basicContainer;
	padding-top: 85px;
	padding-bottom: 85px;

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 55px;

		&-logo {
			font-weight: 100;
			font-size: 86px;
		}

		&-social-media {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 12px;
			justify-content: space-around;

			list-style-type: none;

			&-item {
				padding: 15px;

				border: 1px solid $white;

				img {
					height: 34px;
					width: 34px;
				}
			}
		}
	}

	&-disclaimers {
		margin-bottom: 55px;
		max-width: 1000px;

		color: $grey;
		font-size: 18px;
		font-weight: 200;
		line-height: 1.4;

		p {
			margin-bottom: 15px;
		}
	}

	&-email-address {
		padding-bottom: 55px;

		font-family: $SFPro;
		font-size: 36px;
		font-style: normal;
		font-weight: 100;
		text-transform: uppercase;
	}

	&-bootom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&-privacy {
			color: $grey;
			font-size: 20px;
			font-weight: 200;
			line-height: 1.4;
		}

		&-links {
			display: flex;
			flex-direction: row;
			gap: 15px;
			justify-content: space-between;
			max-width: 485px;

			list-style-type: none;

			&-item a {
				color: $white;
				font-size: 20px;
				font-weight: 200;
				line-height: 1.4;
				text-decoration-line: underline;
				text-decoration-skip-ink: auto;
				text-decoration-style: solid;
				text-decoration-thickness: 1px;
				text-underline-offset: auto;
				text-underline-position: from-font;
			}

			span {
				padding-left: 5px;
			}
		}
	}
}
