@import './mixins';
@import './variables';
@import './media';

.footer {
	@include basicContainer;
	margin-top: 85px;
	padding-bottom: 85px;

	@include breakpoint-down('mob') {
		margin-top: 90px;
		padding: 0px 16px 35px 16px;
	}

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 55px;

		@include breakpoint-down('mob') {
			flex-direction: column;
			row-gap: 20px;
			margin-bottom: 35px;
		}

		&-logo {
			font-weight: 100;
			font-size: 86px;

			@include breakpoint-down('mob') {
				font-size: 60px;
			}
		}

		&-social-media {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 12px;
			justify-content: space-around;

			list-style-type: none;

			@include breakpoint-down('mob') {
				gap: 19px;
				justify-content: start;
			}

			&-item {
				padding: 15px;
				border: 1px solid $white;

				@include breakpoint-down('mob') {
					padding: 10px;
				}

				img {
					height: 34px;
					width: 34px;

					@include breakpoint-down('mob') {
						height: 25px;
						width: 25px;
					}
				}
			}
		}
	}

	&-disclaimers {
		margin-bottom: 55px;
		max-width: 1000px;

		color: $grey;
		font-size: 18px;
		font-weight: 200;
		line-height: 1.4;

		p {
			margin-bottom: 15px;
		}

		@include breakpoint-down('mob') {
			margin-bottom: 35px;

			font-size: 15px;
		}
	}

	&-email-address {
		padding-bottom: 55px;

		font-family: $SFPro;
		font-size: 36px;
		font-style: normal;
		font-weight: 100;
		text-transform: uppercase;

		@include breakpoint-down('mob') {
			padding-bottom: 35px;

			font-size: 30px;
		}
	}

	&-bootom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include breakpoint-down('mob') {
			flex-direction: column;
			row-gap: 20px;
		}

		&-privacy {
			color: $grey;
			font-size: 20px;
			font-weight: 200;
			line-height: 1.4;

			@include breakpoint-down('mob') {
				font-size: 15px;
			}
		}

		&-links {
			display: flex;
			flex-direction: row;
			gap: 15px;
			justify-content: space-between;
			max-width: 485px;

			list-style-type: none;

			@include breakpoint-down('mob') {
				gap: 10px;
				justify-content: start;
			}

			&-item a {
				color: $white;
				font-size: 20px;
				font-weight: 200;
				line-height: 1.4;
				text-decoration-line: underline;
				text-decoration-skip-ink: auto;
				text-decoration-style: solid;
				text-decoration-thickness: 1px;
				text-underline-offset: auto;
				text-underline-position: from-font;

				@include breakpoint-down('mob') {
					font-size: 14px;
				}
			}

			span {
				padding-left: 5px;

				@include breakpoint-down('mob') {
					display: none;
				}
			}
		}
	}
}
