@import './mixins';
@import './variables';
@import './media';

.payment {
	@include basicContainer;
	padding-bottom: 140px;
	padding-top: 140px;

	@include breakpoint-down('mob') {
		padding: 35px 16px;
	}

	&-header {
		margin-bottom: 80px;

		@include breakpoint-down('mob') {
			margin-bottom: 30px;
		}

		&-title {
			@include sectionTitle;
			max-width: 430px;
			margin-bottom: 20px;
		}

		&-subtitle {
			@include sectionSubText;
			max-width: 550px;

			@include breakpoint-down('mob') {
				max-width: 320px;
			}
		}
	}

	&-logos-container_first {
		display: flex;
		gap: 160px;
		justify-content: center;
		margin-bottom: 50px;

		@include breakpoint-down('desk-s') {
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 95px;
			justify-content: flex-start;
			width: 100%;
			row-gap: 27px;

			.boleto {
				height: 38px;
				width: 85px;
			}

			.master-card {
				height: 101px;
				width: 81px;
			}

			.picpay {
				height: 50px;
				width: 105px;
			}

			.ted {
				height: 43px;
				width: 115px;
				margin-left: -35px;
			}

			@include breakpoint-down('mob') {
				align-items: center;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 95px;
				justify-content: flex-start;
				width: 100%;
				row-gap: 27px;

				.boleto {
					height: 28px;
					width: 75px;
				}

				.master-card {
					height: 61px;
					width: 61px;
				}

				.picpay {
					height: 30px;
					width: 95px;
				}

				.ted {
					height: 33px;
					width: 95px;
					margin-left: -35px;
				}
			}
		}

		@include breakpoint-down('mob') {
			width: 280px;
			margin-bottom: 27px;
		}
	}

	&-logos-container_second {
		display: flex;
		gap: 160px;
		justify-content: center;

		@include breakpoint-down('desk-s') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 100px;
			justify-content: flex-start;
			row-gap: 27px;

			.v {
				height: 45px;
				width: 45px;
			}

			.pix {
				height: 48px;
				width: 101px;
			}

			.loteria {
				height: 45px;
				width: 45px;
			}

			.perfect-money {
				height: 52px;
				width: 177px;
			}
		}

		@include breakpoint-down('mob') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 140px;
			justify-content: flex-start;
			row-gap: 27px;

			.v {
				height: 31px;
				width: 31px;
			}

			.pix {
				height: 32px;
				width: 91px;
			}

			.loteria {
				height: 31px;
				width: 31px;
			}

			.perfect-money {
				height: 32px;
				width: 167px;
			}
		}
	}
}
