@import './mixins';
@import './variables';
@import './media';

.rating {
	@include basicContainer;
	padding-top: 33px;
	padding-bottom: 21px;

	@include breakpoint-down('mob') {
		padding: 61px 16px;
	}

	&-header-title {
		@include sectionTitle;
		margin-bottom: 60px;

		@include breakpoint-down('mob') {
			margin-bottom: 51px;
		}
	}

	&-stats {
		display: flex;
		gap: 67px;
		justify-content: space-between;
		align-items: center;
		padding: 38px 48px;
		background: $asphalt;
		border-radius: 60px;

		@include breakpoint-down('mob') {
			background: none;
			padding: 0;
			flex-direction: column;
			gap: 14px;
		}

		&-divider {
			background: $dividerGrey;
			width: 1px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@include breakpoint-down('mob') {
				display: none;
			}
		}

		&-item {
			display: flex;
			flex-direction: row;
			align-items: center;

			@include breakpoint-down('mob') {
				background: $asphalt;
				border-radius: 60px;
				padding: 38px 48px;
			}

			&-logo {
				margin-right: 10px;
			}

			.rating-stats-item-logo.trastpilot {
				@include breakpoint-down('mob') {
					margin-right: 0px;
				}
			}

			.apple {
				@include breakpoint-down('mob') {
					margin-left: 0px;
				}
			}

			.rating-stats-item-info.trastpilot {
				@include breakpoint-down('mob') {
					margin-right: 25px;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				&-header {
					align-items: center;
					display: flex;
					gap: 12px;
					flex-direction: row;
					padding-bottom: 5px;

					&-number {
						color: $white;
						font-size: 30px;
						font-weight: 100;
					}

					&-stars {
						display: flex;
						gap: 5px;
						flex-direction: row;
					}
				}

				&-reviews {
					margin-bottom: 5px;

					color: $white;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.4;
					text-transform: uppercase;
				}

				&-logo-name {
					color: $white;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.4;
					opacity: 0.4;
					text-transform: uppercase;
				}
			}
		}

		.rating-stats-item.trastpilot {
			@include breakpoint-down('mob') {
				padding-right: 22px;
				padding-left: 17px;
			}
		}
	}
}
