@import './media.scss';
@import './variables.scss';
@import './mixins.scss';

.registration-section {
	@include basicContainer;
	height: 832px;
	display: flex;
	flex-direction: row;

	.registration-header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: auto;

		h2 {
			font-size: 95px;
			font-style: normal;
			font-weight: 110;
			line-height: normal;
			text-transform: uppercase;
			margin-right: 77px;
		}
	}

	.registration-form {
		max-height: 832px;
		width: 545px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;

		.registration-form-title {
			color: black;
			font-size: 60px;
			font-weight: 200;
			text-transform: uppercase;
			margin-left: 54px;
			margin-right: auto;
			padding-bottom: 32px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;

			input {
				width: 440px;
				height: 55px;
				background-color: #f3f3f3;
				border: none;
				outline: none;
				margin-left: 54px;
				margin-right: auto;
				padding: 17px;
			}

			button {
				font-size: 16px;
				font-weight: 100;
				background-color: none;
				width: 440px;
				height: 55px;
				background-color: transparent;
				margin-left: 54px;
				margin-right: auto;
				border: none;
				outline: none;
			}
		}
	}
}
