@import './media.scss';
@import './variables.scss';
@import './mixins.scss';

.steps-section {
	@include basicContainer;
	padding-top: 33px;
	padding-bottom: 18px;

	.steps-header {
		margin-bottom: 57px;
		.steps-title {
			@include sectionTitle;
			margin-bottom: 12px;

			line-height: 1.18;
		}

		.steps-subtitle {
			@include sectionSubTextUnderline;
		}
	}

	.steps-list {
		display: flex;
		gap: 16px;
		flex-direction: column;

		list-style: none;

		.steps-item {
			background: $asphalt;
			backdrop-filter: blur(25px);
			border-radius: 18.5px;

			max-width: 742px;
			padding: 21px 23px;

			.steps-item-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				margin-bottom: 25px;

				.steps-item-number {
					color: $white;
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				img {
					width: 40px;
					height: 40px;
				}
			}

			.steps-item-text {
				color: $white;
				font-size: 36px;
				font-style: normal;
				font-weight: 200;
				line-height: normal;
			}
		}

		.steps-item.white {
			background-color: $white;

			.steps-item-number {
				color: $black;
			}

			.steps-item-text {
				color: $black;
			}
		}

		.steps-item.black {
			.steps-item-header {
				margin-bottom: 35px;
			}
		}
	}
}
